/* * {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  .about {
    padding: 10px 30px;
    width: 100%;
  }
  
  .about .container {
    padding: 20px 40px;
    max-width: 100%;
  }
  
  .about .container img {
    
    width: 100%;
    display: block;
  }
  
 
  .about h2 {
    margin-top: 68px;
    text-transform: uppercase;
    font-size: 32px;
    color: #010f1c;
    font-weight: 200;
    text-align: center;
    margin-left: 0;
  }
  
  .about h3 {
    margin-top: 25px;
    padding: 13px 50px;
    text-align: center;
  }
  
  .about p {
    padding: 0px 50px;
    text-align: center
  }
   */
  /* MEDIA QUERIES */
  
  /* Tablets and below */
  /* @media (max-width: 768px) {
   
    .about {
      padding: 10px 20px; 
    }
  
    .about .container {
      padding: 10px 20px; 
    }
  
    .about h2 {
      font-size: 28px; 
      margin-left: 0; 
      margin-top: 40px;
    }
  
    .about h3 {
      padding: 13px 30px;
      font-size: 18px;
    }
  
    .about p {
      padding: 0px 30px; 
      font-size: 16px;
    }
  
    .about .container img {
      display: none; 
    }
  } */
  
  /* Phones */
  /* @media (max-width: 480px) {
    .about h2 {
      font-size: 24px;
      margin-top: 20px; 
    
    }
  
    .about h3 {
      padding: 13px 20px; 
      font-size: 16px; 
    }
  
    .about p {
      padding: 0px 15px; 
      font-size: 14px; 
    }
  
    .about .container {
      padding: 10px 20px; 
    }
  } */
  