* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; 
    box-sizing: border-box;
 }

.about {
    padding: 10px, 30px;
    width: 100%;
}

.about .container {
    padding: 20px 40px;
    max-width: 100%;
}

.about .container img {
    height: 330px;
    width: 1200px;
    width: 100%;
}

.about h2 {
    margin-top: 68px;
    text-transform: uppercase;
    font-size: 32px;
    color: #010f1c;
    font-weight: 200;
    margin-left: 450px;
}

.about h3 {
    margin-top: 25px;
    padding: 13px 50px  
}

.about p {
    padding: 0px 50px;
}